table {
    border-collapse: collapse;
    text-align: center;
    border: 2px solid #aaa;
    background-color: #ddd;
    
}
table thead tr {
    border: 2px solid #aaa;
}

tbody td {
    /* border: 1px solid #000; */
    width: 15px;
    height: 15px;
    color: #fff;
    background: url(../img/sprite100.gif) no-repeat;
    background-position: 0px -39px;
    /* font-size: 10px; */
    font-size: 0;
}
td.head {
    position: relative;
    height: 30px;
}
td.head div {
    position: absolute;
}
td.head span {
    background: url(../img/sprite100.gif) no-repeat;
    /* background-position: 0 0; */
    display: block;
    width: 13px;
    height: 23px;
    float: left;
}
td #timer {
    top: 5px;
    right: 3px;
}

td #exp {
    top: 3px;
    left: 50%;
    transform: translateX(-50%);
}

td #count {
    top: 5px;
    left: 3px;
}

td #timer1 {
    background: url(../img/sprite100.gif) no-repeat;
    background-position: 0 0;
}
td #timer2 {
    background: url(../img/sprite100.gif) no-repeat;
    background-position: 0 0;
}
td #timer3 {
    background: url(../img/sprite100.gif) no-repeat;
    background-position: 0 0;
}

td #expression {
    width: 26px;
    height: 26px;
    background-position: 0px -54px;
}
td #expression.fail {
    background-position: -78px -54px;
}
td #expression.success {
    background-position: -104px -54px;
}

td #count1 {
    background-position: 0px 0px;
}
td #count2 {
    background-position: 0px 0px;
}
td #count3 {
    background-position: 0px 0px;
}

td.opened {
    background: url(../img/sprite100.gif) no-repeat;
    background-position: 0 -23px;
    color: #333;
}
td.opened.count1 {
    background-position: -16px -23px;
}
td.opened.count2 {
    background-position: -32px -23px;
}
td.opened.count3 {
    background-position: -48px -23px;
}
td.opened.count4 {
    background-position: -64px -23px;
}
td.opened.count5 {
    background-position: -80px -23px;
}
td.opened.count6 {
    background-position: -96px -23px;
}
td.opened.count7 {
    background-position: -112px -23px;
}
td.opened.count8 {
    background-position: -128px -23px;
}
td.flag {
    /*background: red;*/
    background-position: -16px -39px;
    font-size: 0;
}
td.question {
    /* background: orange; */
    background-position: -80px -39px;
    font-size: 0;
}
td.fail {
    background-position: -32px -39px;
    font-size: 0;
}
